body {margin: 0}

div#headerbg {background-color: #ffff00; width: 100%; min-width: 1000px;}

/* header */
header {width: 980px; margin-left: auto; margin-right: auto; background-color: #658253; -webkit-box-shadow: 0px 0px 50px #fcfcfc; box-shadow: 0 0 10px #fcfcfc;}

div#logo {float: left;}

div#logo h2 {float: left; margin: 0; padding: 0 15px; font-size: 54px; font-family: 'Audiowide', cursive; font-weight: normal; background-color: #e20202}

div#logo h2 a {text-decoration: none; color: #000000;}

div#logo h4 {width: 460px; color: #00000; font-size: 17px; margin: 0; padding: 26px; font-weight: normal; background-color: #77416b; text-align: center;}

div#icon {background-color: #ffffff; float: right; margin: 0; padding-right: 15px; padding-top: 23px; padding-bottom: 7px; background-color: #3525e8}

/* nav */
nav {clear: both}

nav ul {font-size: 20px;
	margin-top: 0;
	margin-bottom: 10px;
	margin-left: 0;
	padding-left: 0;
	height: 30px;
	background-color: #333333;
	border-radius: 5px;
	background: -webkit-gradient(linear, left top, left bottom, from(#777777), color-stop(50%, #444444), color-stop(50%, #333333), to(#555555));
	background: -webkit-linear-gradient(#777777 0%, #444444 50%, #333333 51%, #555555 100%);
	background: -moz-linear-gradient(#777777 0%, #444444 50%, #333333 51%, #555555 100%);
	background: -o-linear-gradient(#777777 0%, #444444 50%, #333333 51%, #555555 100%);
	background: -ms-linear-gradient(#777777 0%, #444444 50%, #333333 51%, #555555 100%)}

nav ul li {list-style-type: none; float: left}

nav ul li a {display: block; text-decoration: none; width: 325px; line-height: 28px; text-align: center; color: #ffffff; border-right: solid 1px rgb(255, 255, 255,0.2)}

nav ul li a:hover {background-color: rgba(1,122,205,0.3)}

/* container */
div#contents	{width: 980px;
	margin-left: auto;
	margin-right: auto;
	background-color: #3ecf3e;
	-webkit-box-shadow: 0px 0px 10px #bbbbbb;
	box-shadow: 0px 0px 10px #bbbbbb;}

/* article */
article {width: auto; margin-left: auto; margin-right: auto;}

article  h2 {font-size: 32px; color: #000000; line-height: 25px; padding :15px; margin: 0; font-weight: normal; float: left}

article section {clear: both;
	border: solid 1px #aaaaaa;
	margin: 20px 0 10px;
	padding: 15px;
	border-radius: 5px;
	overflow: hidden;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dfdfdf));
	background: -webkit-linear-gradient(#ffffff 0%, #dfdfdf 100%);
	background: -moz-linear-gradient(#ffffff 0%, #dfdfdf 100%);
	background: -o-linear-gradient(#ffffff 0%, #dfdfdf 100%);
	background: -ms-linear-gradient(#ffffff 0%, #dfdfdf 100%);
	-webkit-box-shadow: 0px 2px 3px #cccccc, 0px 0px 4px 3px #ffffff inset;
	box-shadow: 0px 2px 3px #cccccc, 0px 0px 4px 3px #ffffff inset}

article section h3 {background-color: #3a570b;
	font-size: 33px;
	font-weight: normal;
	line-height: 33px;
	margin: 0}

article p	{background-color: #e71b20; font-size: 16px;
	line-height: 1.4;
	margin-top: 24px;
	margin-left: 0;
	margin-right: 0}

/* figure */
figure	{margin: 0}

article section figure
		{float: right;
		margin-left: 15px;
		margin-bottom: 0}

article section figcaption	{color: #666666;
		font-size: 15px;
		display: block}

div#footerbg {width: 100%; margin-left: auto; margin-right: auto; margin-top: 25px; background-color: #494949;}

/* footer */
footer {color: #888888; ; padding-top: 20px; padding-bottom: 20px; clear: both; border-top: solid 1px #aaaaaa}
small {font-size: 18px; font-style: normal; text-align: center; display: block}
